/* ABOUT PAGE */
.about-page {
    background: #f7f5ff;
}

.about-page .about-title {
    color: #8b5cf6;
}


/* CONTACT PAGE */
.contact-page {
    background: #ffffff;
}

.contact-page .contact-title {
    color: #111;
}